<!doctype html>

<html lang='en'>
<head>
	<meta charset='utf8'>

	<title>How to What a What</title>
  	<meta name="description" content="How to What a What">
  	<meta name="author" content="Stephanie Lage">

  	<link rel='stylesheet' href='/static/HowtoWhataWhat.css'/>

  </head>

  <body>
  	<div id='Factoring'>
      <h2>Factoring</h2>
      <p>The factors of a thing are like what that thing is made up of.</p>
      <p>Think of it for numbers first.</p>
      <p>The factors of \(6\) are either \(1\) and \(6\) or \(2\) and \(3\) because \(1 * 6 = 6\) or \(2 * 3 = 6\)</p>  
    </div>

    <div id='Quadratics'>
      <h2>Quadratics</h2>
    </div>

  </body>
  	<script type="text/javascript" async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>
  	<script src='/static/HowtoWhataWhat.js'></script>
  </html>