<!doctype html>

<html lang='en'>
<head>
	<meta charset='utf8'>

	<title>How to Factor a Quadratic</title>
  	<meta name="description" content="How to Factor a Quadratic">
  	<meta name="author" content="Stephanie Lage">

  	<link rel='stylesheet' href='/static/StartPage.css'/>

  </head>

  <body>
  	<h1>How to Factor a Quadratic</h1>
  	<h3><a href='/factorteacher/what'>How to What a What??</a></h3>
  	<div>Click me!</div>
  	
  	<!-- Add in some cute quadratic equations floating around and stuff! (use $$ or \[ and \] :-) -->

  </body>
  	<script type="text/javascript" async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>
  	<script src='/static/StartPage.js'></script>
  </html>